/* OM_Dashboard_Header.module.css */

/* Styles for the navigation container */
.header{
    background-color:rgb(0, 0, 0);
    opacity: 100%;
}
.top{
    color: #ffffff;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 67, 0);
    padding: 8px 10px;
    border-radius: 15px;
    margin:auto;
    box-shadow: 0 0 10px rgb(32, 32, 32);
  }
  
  /* Styles for the navigation tabs */
  .nav-link {
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 8px 20px;
    font-weight: 700;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #ffffff;
    color: black;
  }

  /* AddAdvertisement.module.css */

.containerOM {
    max-width: 720px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000cd;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(27, 27, 27, 0.744);
   
  }
  
  .OM {
    margin-left: 35%;
    text-align: left;
    color: rgb(236, 67, 0);;
  }
  
  .form-label {
    font-weight: bold;
    color: #ffffff;
    margin-left: 10%;
  }
  
  .form-select,
  .form-control {
    width: 100%;
    margin-bottom: 15px;
    margin-left: 10%;
  }
  
  .btn-primary {
    width: 100%;
    margin-left: 10%;
    color: #ffffff;
    font-weight: bold;
    background-color:  rgb(236, 67, 0);
  }
  .btn-primary:hover {
   
    background-color:  rgba(254, 99, 38, 0.96);
}

  .bottom{
    background-color: hwb(0 94% 6%);
  }